/* CSS for the Author's Section */

/* Fonts used. */
@font-face {
	font-family: "Century Gothic";
	src: url("../../Fonts/Century%20Gothic%20(Regular).ttf");
}

@font-face {
	font-family: "Century Gothic Bold";
	src: url("../../Fonts/Century%20Gothic%20(Bold).ttf");
}

@font-face {
	font-family: "Roboto";
	src: url("../../Fonts/Roboto%20(Regular).ttf");
}

/* Breakpoint #1: Large Devices	[Viewport Width: 1366px] */
body {
	margin: auto;
}

/* Header */
header {
	height: 4.39vw;
	width: 100%;
	position: sticky;
	top: 0;
	background: white;
	display: grid;
	grid-template-columns: 16fr repeat(4, 3fr);
	align-items: center;
	margin: auto;
	font-family: "Roboto";
	font-weight: bold;
	z-index: 3;
	cursor: default;
}

header > div, header > a {
	border-bottom: 0.225vw solid white;
}

header .webtitle {
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 1.46vw;
	font-size: 1.46vw;
}

header a {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #D3D3D3;
	font-size: 1.10vw;
	text-decoration: none;
}

/* Coded so no need to change. */
a#A:hover, a#B:hover, a#C:hover, a#D:hover {
	transition: 0.5s;
	color: black;
	border-bottom: 0.225vw solid blue;
}

header > a:not(:hover) {
	transition: 0.5s;
	color: #D3D3D3;
	border-bottom: 0.225vw solid white;
}

header:not(:hover) > .current, header .webtitle:hover ~ .current {
	transition: 0.5s;
	color: #228B22;
	border-bottom: 0.225vw solid #228B22;
}
/* Header finished. Can be copy pasted for other pages. */

/* Main, Splash */
main#splash {
	position: relative;
	height: 35.1vw;
	overflow: hidden;
	font-family: "Century Gothic Bold";
}

main#splash img {
	width: 100%;
	transform: scale(1.3);
	filter: blur(0.586vw);
	z-index: 1;
}

main#splash .tagtext {
	position: absolute;
	width: 100%;
	top: 8.05vw;
	text-align: center;
	cursor: default;
	z-index: 2;
}

main#splash .tagtext .tagquote {
	font-size: 4.39vw;
	color: white;
}

main#splash .tagtext .tagline {
	font-size: 1.76vw;
	color: orange;
}

/* Main, General */
main {
	background: #EAEAEA;
}

main .text {
	padding: 1.65vw 3.29vw 0 3.29vw;
	cursor: default;
}

.text * {
	margin-top: 0.366vw;
}

.text .heading {
	font-family: "Century Gothic Bold";
	font-size: 3.29vw;
}

.text .body {
	font-family: "Century Gothic";
	font-size: 1.46vw;
}

main .panel {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	padding: 1.65vw 3.29vw 0 3.29vw;
	cursor: default;
}

.panel .form * {
	margin-top: 0.366vw;
	margin-bottom: 0.366vw;
}

.form div * {
	width: 90%;
	border: 0.0732vw solid gray;
	border-radius: 0.366vw;
	padding: 1.10vw;
	font-family: "Roboto";
	font-size: 1.46vw;
}

.form div *:not(:hover), .form div *:not(:focus) {
	transition: 1s;
}

.form div *:hover, .form div *:focus {
	background: #E5FFFF;
	transition: 0.5s;
}

.form div *:hover {
	cursor: default;
}

.form div *:focus {
	cursor: text;
}

.form div textarea {
	height: 13.5vw;
}

main .contact {
	padding: 2.56vw;
}

main .contact > div {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
	margin-top: 1.10vw;
	margin-bottom: 1.10vw;
}

main .contact div .image img {
	display: flex;
	width: 100%;
}

.image img:not(:active), .image img:not(:hover) {
	transform: scale(1);
	transition: 0.5s;
}

.image img:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.image img:active  {
	transform: scale(0.9);
	transition: 0.5s;
}

.image:not(:active) + .address, .address:not(:hover) {
	color: black;
	transition: 0.5s;
}

.image:active + .address, #A.address:hover, #B.address:hover, #C.address:hover {
	color: #FF7900;
	transition: 0.5s;
}

main .contact div .address {
	padding-left: 1.46vw;
	font-family: "Roboto";
	font-weight: bold;
	font-size: 1.46vw;
	text-decoration: none;
	cursor: default;
}

main .button {
	padding: 0 3.29vw 3.29vw 3.29vw;
}

.button input[type="submit"] {
	width: 11.0vw;
	margin-top: 1.83vw;
	border: none;
	border-radius: 1.10vw;
	padding: 0.952vw;
	text-align: center;
	font-family: "Century Gothic Bold";
	font-size: 1.32vw;
	color: white;
	letter-spacing: 0.110vw;
}

.button input[type="submit"]:not(:hover) {
	background: #F2003C;
	transition: 0.5s;
}

.button input[type="submit"]:not(:active) {
	transition: 0.5s;
}

.button input[type="submit"]:hover {
	background: #228B22;
	transition: 0.5s;
}

.button input[type="submit"]:active {
	background: #228B22;
	transform: scale(0.9);
	transition: 0.5s;
}

input, textarea {
	outline: none;
}

/* Main finished. */

/* Footer */
footer {
	position: sticky;
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: white;
	margin: auto;
	padding: 0.732vw;
	font-family: "Roboto";
	font-weight: bold;
	font-size: 1.24vw;
	z-index: 3;
	cursor: default;
}

footer:not(:hover) {
	background: white;
	color: rgba(0, 0, 0, 0.2);
	transition: 1s;
}

footer:hover {
	background: yellow;
	color: rgba(0, 0, 0, 1);
	transition: 1s;
}

footer .details {
	height: 100%;
	display: flex;
	align-items: center;
}

footer .minor {
	padding-left: 0.366vw;
	justify-content: flex-start;
}

footer .title {
	padding-right: 0.366vw;
	justify-content: flex-end;
}
/* Footer finished. Can be copy pasted for other pages. */

main#phone.panel .contact {
	display: none;
}

/* ---------------------------------------------------------------- */

/* Breakpoint #2: Smaller than Medium Devices [Max-Width: 991px] */
@media screen and (max-width: 991px) {
	footer {
		position: static;
	}
	
	footer:not(:hover), footer:hover {
		background: yellow;
		color: rgba(0, 0, 0, 1);
	}
}

/* Breakpoint #3: Phones [Viewport Width: 767px] */
@media screen and (max-width: 767px) {
	header .webtitle {
		font-size: 1.56vw;
	}
	
	header a {
		font-size: 1.30vw;
	}
	
	main#splash img {
		transform: scale(1.4);
	}
	
	main {
		background: #EAEAEA;
	}
	
	main .panel {
		grid-template-columns: 100%;
	}
	
	.panel div#nonphone.contact {
		display: none;
	}
	
	.panel .form div * {
		width: 97.5%;
	}
	
	main#phone.panel .contact {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		background: white;
		padding: 2.61vw;
	}

	footer {
		font-size: 1.43vw;
	}
}